:root {
  --md-primary-fg-color:        #1e222d;
  --md-primary-fg-color--light: #1e222d;
  --md-primary-fg-color--dark:  #1e222d;
}
[data-md-color-scheme="slate"] {
  --md-hue: 210; 
}
[data-md-color-scheme="tech"] {
  --md-primary-fg-color: #0B61A4;
  --md-accent-fg-color: #1565C0;
  --md-typeset-a-color: #0e70e0;
  --md-default-bg-color: #f0f8ff;
}

.md-icon svg {
    fill: #9e9e9e

}

.md-footer {
    --md-footer-bg-color: #25567B;
}

.md-content h1, .md-content h2, .md-content h3, .md-content h4 {
    font-family: 'Roboto Mono';
    font-weight: 600;
    color: #4b5563;
}

.md-content h1 {
    font-size: 30px;
}

.md-content h2 {
    font-size: 24px;
}

.md-content h3 {
    font-size: 21px;
}

.md-content h4 {
    font-size: 18px;
}

body {
    font-family: 'Roboto Mono';
}

p {
    font-family: 'Roboto Mono';
    font-size: 16px;
}

ul, ol {
    font-family: 'Roboto Mono';
    font-size: 16px;
}

.md-nav__link {
    font-family: 'Roboto Mono';
    font-size: 15px;
    color: #4A4A4A;
}

.md-nav__link:hover {
    color: #221c1a; 
}
  
.md-status--in-progress::after {
    mask-image: var(--md-status--in-progress);
    -webkit-mask-image: var(--md-status--in-progress);
}

.admonition-title {
    font-size: 14px; /* Вы можете изменить размер шрифта по вашему усмотрению */
}

.details-title {
    font-size: 14px;
}

details > summary {
    font-size: 14px;
}

.md-typeset code {
    background-color: #e6e6e7;
}

